name: Build and Push to Docker Hub

# 触发条件：推送到 main 分支或创建标签时
on:
  push:
    branches: [ master ]
    tags: [ 'v*' ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      # 1. 拉取仓库代码
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. 设置 Docker 构建x（可选，支持多平台构建）
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
